@font-face {
  font-family: vazir;
  src:url(../../bill-generator-js/fonts/Vazir-Regular-FD.woff)
}

html,body{
  width: 100%;
  height: 100%;
  min-width: 370px;
  
 }
 body{
   font-family: vazir;
   justify-content: center; 
 }
 aside{
  height: fit-content;
 }
 .hidden{
  visibility: hidden;
  opacity:0;
  transition: all .6s;
}
.overlay{
  position: fixed;
  background-color: #00000057;
  width: 100vw;
  height: 100vh;
}


.c-modal{
  position: fixed;
  align-self: center;
  transition: all .6s;
} 
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.food{
  height: 130px;
  border-radius: 8px;
  direction: rtl;
}
.foods{
  height: 80vh;
  direction: ltr; 
}
.count-btn{
  height: 25px;
  width: 25px;
  padding: 2px;
  font-size: 20px;
  color: white;
}
.count{
  width: 25px;
  text-align: center;
  font-size: 17px;
}
.code-btn{
  height: 35px;
  width: 35px;
  padding-top: 4px;
  font-size: 24px;
  border: none;
  color: white;
}
.form-control:focus{
  box-shadow: none !important;
  border: 0 !important;
}
h6{
  font-weight: bold;
  font-size: 14px;
}
img{
  transform: scale(.8);
}
p{
  font-size: 15px;
}
.sum{
  font-size: 14px;
  position: absolute;
  left: 0;
}
.ts{
  font-size: 12px;
}
.ft{
  font-size: 12px;
}
.ftt{
  font-size: 11px;
}
